:root{
    --primary-color: #ffffff;
    --secondary-color: #a67b5b;
    --accent-color: #8b5a2b;
    --background-color: #3d3d3d;
    --text-color: #161616;
}
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 0.8s ease-out forwards;
}

section:nth-child(2) h1, h2, h3, h4, h5, h6 {
    animation-delay: 0.2s;
}
section:nth-child(3) h1, h2, h3, h4, h5, h6  {
    animation-delay: 0.4s;
}
section:nth-child(4) h1, h2, h3, h4, h5, h6  {
    animation-delay: 0.6s;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* #region Font */
@font-face {
    font-family: 'CormorantGaramond';
    src: url('../fonts/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* #endregion */

*{
    font-family: 'Montserrat', sans-serif;
}
section{
    padding: min(15%, 200px)  0;
}
/* #region Text*/
h1{
    font-family: 'CormorantGaramond', serif;
    color: #333;
}
h2, h3, h4, h5, h6{
    font-family: 'Mukta', serif;
    color: #333;
}
/* #endregion */

/* #region Color */
.rg-bg-accent{
    background-color: var(--accent-color);
}
.rg-bg-secondary{
    background-color: var(--secondary-color);
    border-color: var(--accent-color);
}
.rg-bg-primary{
    background-color: var(--primary-color);
}
.rg-accent-color{
    color: var(--accent-color);
}
.rg-primary-color{
    color: var(--primary-color);
}
.rg-secondary-color{
    color: var(--secondary-color);
}

.social-links a i{
    font-size: 1em;
}
.social-links a{
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}
/* #endregion */

/* #region Hero-section */
.hero-section{
    background: url('../image/chess_fon.webp') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary {
    transition: all 0.3s ease;
}
.navbar-brand img {
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.social-links a i {
    transition: all 0.3s ease;
}

.social-links a i:hover {
    animation: spin 0.5s ease;
    opacity: 0.9; /* Золотий колір для прикладу, можеш змінити */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-primary:hover {
    animation: lift 0.5s ease forwards;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid var(--accent-color);
}

@keyframes lift {
    0% {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}
.rg-hero-container{
    border-radius: 2%;
    padding: 10px;
}
.rg-hero-container *{
    padding: 2% auto;
}
/* #endregion */

/* #region About */
.rg-img-cut{
    height: 180px;
    object-fit: cover;
}
.card {
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.6s ease-out forwards;
}

.card:nth-child(2) {
    animation-delay: 0.2s;
}

.card:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* #endregion */

/* #region Special Offers */
.menu-item {
    opacity: 0;
    transform: translateX(-30px);
    animation: slideIn 0.6s ease-out forwards;
}

.menu-item:nth-child(2) {
    animation-delay: 0.2s;
}
.menu-item:nth-child(3) {
    animation-delay: 0.4s;
}
.menu-item:nth-child(4) {
    animation-delay: 0.6s;
}
.menu-item:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.special-offers-section img {
    animation: sway 3s ease-in-out infinite;
}

@keyframes sway {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
/* #endregion */
/* #region Gallery*/
.rg-img-cut-gallery{
    height: 70vh;
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    transition: transform 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    animation: pulseBtn 0.5s ease infinite;
}

@keyframes pulseBtn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/* #endregion */

/* #region Відгуки клієнтів (Testimonials)  */
.rg-img-cut-testimonials{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    margin: 0 auto;
    object-fit: cover;
}
.rg-bg-linear{
    background: linear-gradient(to right, var(--accent-color), var(--secondary-color));
}
.rg-bg-circle{
    background: radial-gradient(circle, var(--accent-color), var(--secondary-color));
}
.rg-bg-repeat{
    background: repeating-linear-gradient(45deg, var(--accent-color), var(--accent-color) 10px, var(--secondary-color) 10px, var(--secondary-color) 20px);
}
.rg-bg-circle-repeat{
    background: repeating-radial-gradient(circle, var(--accent-color), var(--accent-color) 200px, var(--secondary-color) 200px, var(--secondary-color) 400px);
}
/* #endregion */

/* #region Contact */
.rg-form-button{
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
}
/* #endregion */

/* #region Footer */
footer{
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 2% 0;
}
footer h2 {
    color: var(--primary-color);
}

footer a{
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover{
    color: var(--accent-color);
    text-decoration: underline;
}

footer ul li{
    padding: 0 5px;
}
/* #endregion */

/* #region Модальне вікно */
#menu ul{
    list-style: none;
    padding: 0;
}
#menu ul li{
    padding: 2px 5px;
}
/* #endregion */