:root{
    --primary-color: #ffffff;
    --secondary-color: #a67b5b;
    --accent-color: #8b5a2b;
    --background-color: #3d3d3d;
    --text-color: #161616;
}
/* #region Font */
@font-face {
    font-family: 'CormorantGaramond';
    src: url('../fonts/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* #endregion */

*{
    font-family: 'Montserrat', sans-serif;
}
section{
    padding: min(15%, 200px)  0;
}
/* #region Text*/
h1{
    font-family: 'CormorantGaramond', serif;
    color: #333;
}
h2, h3, h4, h5, h6{
    font-family: 'Mukta', serif;
    color: #333;
}
/* #endregion */

/* #region Color */
.rg-bg-accent{
    background-color: var(--accent-color);
}
.rg-bg-secondary{
    background-color: var(--secondary-color);
    border-color: var(--accent-color);
}
.rg-bg-primary{
    background-color: var(--primary-color);
}
.rg-accent-color{
    color: var(--accent-color);
}
.rg-primary-color{
    color: var(--primary-color);
}
.rg-secondary-color{
    color: var(--secondary-color);
}

.social-links a i{
    font-size: 1em;
}
.social-links a{
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}
/* #endregion */

/* #region Hero-section */
.hero-section{
    background: url('../image/chess_fon.webp') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid var(--accent-color);
}
.rg-hero-container{
    border-radius: 2%;
    padding: 10px;
}
.rg-hero-container *{
    padding: 2% auto;
}
/* #endregion */

/* #region About */
.rg-img-cut{
    height: 180px;
    object-fit: cover;
}

/* #endregion */

/* #region Gallery*/
.rg-img-cut-gallery{
    height: 70vh;
    max-height: 700px;
    width: 100%;
    object-fit: cover;
}
/* #endregion */

/* #region Відгуки клієнтів (Testimonials)  */
.rg-img-cut-testimonials{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    margin: 0 auto;
    object-fit: cover;
}
.rg-bg-linear{
    background: linear-gradient(to right, var(--accent-color), var(--secondary-color));
}
.rg-bg-circle{
    background: radial-gradient(circle, var(--accent-color), var(--secondary-color));
}
.rg-bg-repeat{
    background: repeating-linear-gradient(45deg, var(--accent-color), var(--accent-color) 10px, var(--secondary-color) 10px, var(--secondary-color) 20px);
}
.rg-bg-circle-repeat{
    background: repeating-radial-gradient(circle, var(--accent-color), var(--accent-color) 200px, var(--secondary-color) 200px, var(--secondary-color) 400px);
}
/* #endregion */

/* #region Contact */
.rg-form-button{
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
}
/* #endregion */

/* #region Footer */
footer{
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 2% 0;
}
footer h2 {
    color: var(--primary-color);
}

footer a{
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover{
    color: var(--accent-color);
    text-decoration: underline;
}

footer ul li{
    padding: 0 5px;
}
/* #endregion */

/* #region Модальне вікно */
#menu ul{
    list-style: none;
    padding: 0;
}
#menu ul li{
    padding: 2px 5px;
}
/* #endregion */